#full-page-landing {
  display: none;
  position: relative;
  height: 300px;
  background: url(../img/cover-photo.jpg) no-repeat center center;
  background-size: cover;
  z-index: 2;
text-align: center;
}
#full-page-landing .full-page-landing-tagline {
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  color: #fff;
}
#full-page-landing h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #030d18;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#main-pic {
  padding-top: 20px;
  padding-bottom:20px;
}
.bg-4 {
    background-color: #333a56; /* Black Gray */
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
  padding-top: 32.5px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;

}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
#main-nav li a {
  color: #52658f;
}
.navbar .navbar-collapse {
  text-align: center;
}
#top-line {
  padding-top: 50px;
}
#bottom-line {
  padding-top: 50px;
}
#contact{
  padding-bottom: 50px;
}
.custom-btn {
  background-color: #f0f0f0;
  border-radius: 0px;
}
#about-me {
  background-color: #e8e8e8;
}
#contact {
  background-color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media only screen and (min-width: 768px) {
  #full-page-landing {
    height: 400px;
    display: block;
  }
  #full-page-landing .full-page-landing-tagline {
    padding-top: 0px;
    width: 50%;
  }
  #full-page-landing h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  .bg-4{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #main-nav {
      margin:0 auto;
      height: 125px;
  }
  #top-line {
    height: 150px;
    padding-top: 90px;
    width: 500px;
  }
  #bottom-line {
    width: 500px;
  }
}
@media only screen and (min-width: 1170px) {
  #full-page-landing {
    height: 600px;
    display: block;
  }
  #full-page-landing .full-page-landing-tagline {
    padding-top: 25px;
    width: 75%
  }
  .bg-4 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #main-pic {
    padding-bottom: 0px;
  }
  #top-line {
    padding-top: 150px;
    height: 200px;
    width: 900px;
  }
  #bottom-line {
    padding-top: 75px;
    width: 900px;
  }
  #main-nav {
      margin:0 auto;
      height: 125px;
  }
}
