html, body {
    height: 100%;
}

.container {
    max-width: 70%;
    padding-top: 5rem;
}

.experiences-container {
    margin-bottom: 6rem;
}

.experiences-card {
    margin: 1rem 0;
}

.experiences-title {
    margin: 3rem 0;
}

.downloads-heading {
    padding-top: 30px;
}

.jumbotron-experience {
    padding: 0px;
    margin: 0px;
    color: white;
    height: 35rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.experience-content {
    padding-top: 4rem;
}

.experience-downloads-container {
    padding-bottom: 5rem;
}

#main-footer {
    background-color: #262F36;
    color: white;
    padding: 3rem 0;
    font-size: 0.8rem;
}

.footer-element {
    padding: 0.5rem 0;
}

.social-icon {
    padding: 0.75rem;
    margin: 0 0.15rem;
    background-color: white;
    color: #262F36;
    border-radius: 50%;
}

.social-icon:hover {
    color: #6C5F73;
}

.contact-title {
    padding: 3rem 0;
}

.container-contact{
    padding-bottom: 4rem;
}

.loading-container {
    min-height: 40rem;
}

.jumbotron-main-header {
    min-height: 30rem;
    background-image: url("cityscape-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}